<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ 'plannet.ico' | asset_url }}" type="image/x-icon">
    {{ content_for_header }}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag: preload: true, media: 'all' }}
    <title>{{ page_title }}</title>
  </head>
  <body>
    {% section 'navbar' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
