<script>
  // console.log('All Blogs:', '{{ blogs.news.articles }}');
  // console.log('Blog Title:', '{{  blog.title | escape  }}');
</script>

<section class="p-5">
  <h1>All Blog List</h1>

  <div class="flex gap-5 flex-col py-5">
    {%- for article in blogs.news.articles -%}
      <div class=" bg-gray-400 p-5">
        <a href="{{ article.url | escape }}">
          <h1 class="text-xl font-bold">{{ article.title }}</h1>
        </a>

        {{ article.title | link_to: article.url | escape }}
        <span>{{ article.id }} </span> <span> | </span> <span>{{ article.author }}</span>
        <p class="py-2">{{ article.content }}</p>
        <div class="pt-2">
          <a href="{{ article.url }}" class="btn btn-outline btn-neutral">Read More</a>
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>
